<mat-toolbar color="secondary">
  <span> Mis Platillos</span>
  <a mat-button (click)="redirect('')">Inicio</a>
  <button mat-button (click)="redirect('ingredientes')">Ingredientes</button>
  <button mat-button (click)="redirect('platillos')">Platillos</button>
  <span class="example-spacer"></span>
  <button mat-button (click)="redirect('usuario')" *ngIf="usuarioLogeado">
    <mat-icon class="icon">account_circle</mat-icon>
  </button>
  <button mat-button (click)="logout()" *ngIf="usuarioLogeado">
    <mat-icon class="icon">logout</mat-icon>
  </button>
</mat-toolbar>
