<mat-carousel
  timings="250ms ease-in"
  [autoplay]="true"
  [interval]="5000"
  color="accent"
  maxWidth="auto"
  [proportion]="25"
  [slides]="5"
  [loop]="true"
  [hideArrows]="false"
  [hideIndicators]="false"
  [useKeyboard]="true"
  [useMouseWheel]="false"
  orientation="ltr"
>
  <mat-carousel-slide
    #matCarouselSlide
    *ngFor="let platillo of platillos; let i = index"
    [image]="platillo.strMealThumb"
    overlayColor="#00000040"
    [hideOverlay]="false"
  ></mat-carousel-slide>
</mat-carousel>

<mat-grid-list cols="3" rowHeight="1:1" class="grid">
  <div *ngFor="let platillo of platillos; let i = index">
    <mat-grid-tile *ngIf="i % 2 == 0">
      <mat-card class="card" (click)="detalle(platillo)">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{ platillo.strMeal }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          [src]="platillo.strMealThumb"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content> </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
Hola mundo
<div class="spinner" *ngIf="platillos.length == 0">
  <mat-spinner></mat-spinner>
  <br />
  <p>Cargando ....</p>
</div>
