.body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f5f5f5;
  height: 100%;
}
.login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}
.text-grey{
  color: gray;
}
.text-warn{
  color: tomato;
}
.ancho {
  width: 80%;
  border: solid 1px #aaa;
  height: 50px;
  margin-bottom: 10px;
}


.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 30px;
}


