<div mat-dialog-content>
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <img [src]="data.img" class="img" />
  <p>{{ data.inst }}</p>
</div>
<div mat-dialog-actions>
  <button mat-mini-fab>
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <button mat-mini-fab>
    <mat-icon color="warn">favorite</mat-icon>
  </button>
  &nbsp;
  <button mat-mini-fab>
    <mat-icon color="primary">home</mat-icon>
  </button>
</div>
