
.grid{
  margin-top: 30px;
}
.img{
  width: 80%;
}
.card{
  text-align: center;
  width: 350px;
  border-radius: 10px !important;
}
.content{
  text-align: left;
}
.titulo{
  text-align: center !important;
  margin-top: 20px !important;
}
