<mat-grid-list cols="3" rowHeight="1:1" class="grid">
  <div *ngFor="let platillo of platillos; let i = index">
    <mat-grid-tile>
      <mat-card class="card detalle" (click)="detalle(platillo)">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>{{ platillo.strMeal }}</mat-card-title>
        </mat-card-header>
        <img
          mat-card-image
          [src]="platillo.strMealThumb"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content> </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </div>
</mat-grid-list>
<div class="spinner" *ngIf="platillos.length == 0">
  <mat-spinner></mat-spinner>
  <br />
  <p>Cargando ....</p>
</div>
